* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #FADE8B;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shape {
  display: flex;
  transform: rotate(45deg)
}

.circle {
  width: 60px;
  height: 60px;
  background: #D86F45;
  margin: 0 -24px;
  
  border: 20px solid #FADE8B;
  border-radius: 50%;
  z-index: 2;
}
  
.star {
  width: 90px;
  height: 90px;
  background: #D86F45;
  border-radius: 50%;
}

.star::before,
.star::after {
  content: '';
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  
  width: 100px;
  height: 100px;
  background: #FADE8B;
  border-radius: 50%;
}
.star::before { top: 120%; }
.star::after { top: -21%; }