* {
  margin: 0;
}
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #49C85B;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.eyebrows div {
  transform: translate(-50%);
  position: absolute;
  
  width: 80px;
  height: 40px;
  background: #30230A;
}
.left {
  top: 24.25%;
  left: 30%;
}
.right {
  top: 21.5%;
  left: 71%;
  rotate: 12deg;
}

.eyes {
  display: flex;
  gap: 80px;
  margin-bottom: 67px;
}
.eyes div {
  width: 37px;
  height: 18px;
  border: 22px solid #30230A;
  border-bottom: 0;
  border-radius: 150px 150px 0 0;
}

.teeth {
  transform: translate(-50%);
  position: absolute;
  bottom: 0%;
  left: 50%;
  
  display: flex;
  gap: 40px;
}
.teeth div {
  width: 60px;
  height: 86.5px;
  background: #FFFFFF;
}