* { margin: 0; }
body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrap {
  width: 400px;
  height: 400px;
  background: #3C31A0;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  .line {
    background: #E5DDD9;
    transform: translate(-50%, -50%);
    position: absolute;
  }
    .line1 { width: 400px;  height: 50px;  left: 50%; }
    .line2 { width: 50px;  height: 400px;  top: 50%; }

  .cut {
    background: transparent;
    border: 50px solid #3C31A0;
    
    width: 150px;
    height: 150px;

    position: absolute;
  }