* {
  margin: 0;
}

body {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrap {
  width: 400px;
  height: 400px;
  background: #2F5A76;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.s-shape {
  position: relative;
  width: 150px;
  height: 300px;
}

.curve {
  position: absolute;
  box-sizing: border-box;
  transform: rotate(270deg);
  
  width: 110px;
  height: 110px;
  border: 30px solid #F1B14C;
  border-radius: 50%;
}
.curve.top {
  top: 13.75%;
  left: 14.75%;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.curve.bottom {
  bottom: 12%;
  left: 8%;
  border-top-color: transparent;
  border-right-color: transparent;
}

.s-shape::after {
  content: '';
  transform: translate(-50%, -50%) rotate(-40deg);
  position: absolute;
  top: 50%;
  left: 47%;

  width: 30px;
  height: 82px;
  background: #F1B14C;
}
  
.curve::after {
  content: '';
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;

  width: 30px;
  height: 40px;
  background: #F1B14C;
  border-radius: 50px;
}
.curve.top::after {
  top: 100%;
  left: 110%;
}
.curve.bottom::after {
  bottom: 23%;
  left: -10%;
}