body {
  background-color: #e7c8b9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 400px;
  width: 400px;
  background-color: #DE9473;
  margin: 0;
}
.content {
  width: 200px;
  height: 150px;
  background: linear-gradient(#A4281F, #DE9473);
}