body {
    background-color: #8D1C24;
    margin: 0;
    
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }
  .first, .second {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, transparent 50%, #EC9140 50%),
      linear-gradient(90deg, #EC9140 50%, transparent 50%);
  }
  div.first {
    transform: rotate(90deg);
    margin-left: 80px;
    margin-right: -40px;
    margin-bottom: 30px;
  }
  div.second {
    transform: rotate(-90deg);
    margin-right: 80px;
    margin-top: 25px;
  }